body {
    font-size: 16px;
    color: black;
    background-color: aliceblue;
}

/** HEADER **/
#header-nav {
    background-color: skyblue;
    border-radius: 0;
    border: 0;
}


.navbar-brand > a {
  color: darkblue;
  text-decoration: none;
}

.navbar-toggler {
    border-color: gray;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.nav-link {
    color: black;
}


/** CONTENT **/
h1 {
    margin: 10px;
}

.innerBox {
    margin-bottom: 15px;
    background-color: lightblue;
}

p {
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    text-align: justify;
    margin-bottom: 0;
}
.back {
    padding-left: 2.5%;
}